.header-content{
    padding: 2rem;
    background-color: #FFF3E0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
}

.main-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


